<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous"
  />
  <title>
    Online Courses - Learn Anything On Your Schedule | MNP Courses
  </title>
  <link rel="shortcut icon" href="/assets/images/logo-images.svg" />
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

  <div class="main-container">
    <div class="side-bar">
      <div class="side-bar-logo container-fluid">
        Admin
      </div>
      <div class="main-side-bar mt-3">
        <div class="ml-2">
          Dashboard
        </div>
        <ul class="list-group">
          <li  data-transform="tableTransform" data-target="#studentTable" class="list-group-item active d-flex">
            <div class="icon">
              <i class="far fa-user"></i>
            </div>
            <div>
              List Students
            </div>
          </li>
          <li data-transform="tableTransform" data-target="#instructorTable" class="list-group-item d-flex">
            <div class="icon">
              <i class="fas fa-chalkboard-teacher"></i>
            </div>
            <div>
              List Instructors
            </div>
          </li>
          <li  data-transform="tableTransform"  data-target="#courseTable" class="list-group-item d-flex">
            <div class="icon">
              <i class="fas fa-book"></i>
            </div>
            <div>
              List Courses
            </div>
          </li>
        </ul>
        <div class="mt-5 text-center home">
          <a class="d-block mt-2" href="/logout">Log out</a>
        </div>

      </div>
    </div>
    <div class="main-content">
      <div id="studentTable" class="container item-table">
        <div class="admin-title">
          List Students
        </div>

        <div class="d-flex justify-content-between">
          <div>
          </div>
          <div class="count">
            Total: <%= students.length %>
          </div>
        </div>
        <div class="table-views">
          <table>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Action</th>
            </tr>
            <% students.forEach(item => { %>
              <tr>
                <td><%= item.id %></td>
                <td><%= item.user_name %></td>
                <td><%= item.email %></td>
                <td><%= item.first_name %></td>
                <td><%= item.last_name %></td>
                <td>
                  <% if(item.is_active) { %>
                    <button data-user-id="<%= item.id %>" class="btn btn-disable btn-danger">Disable</button>
                  <% } else { %>
                    <button data-user-id="<%= item.id %>" class="btn btn-enable btn-primary">Enable</button>
                  <% } %>
                </td>
              </tr>
            <% }) %>
          </table>
        </div>
      </div>

      <div id="instructorTable" class="container item-table">
        <div class="admin-title">
          List Instructor
        </div>

        <div class="d-flex justify-content-between">
          <div>
            <a class="btn btn-primary mb-2" data-toggle="modal" data-target="#newInstructorModal">New Instructor</a>
          </div>
          <div class="count">
            Total: <%= instructors.length %>
          </div>
        </div>
        <div class="table-views">
          <table>
            <tr>
              <th>ID</th>
              <th style="width: 25%;">Full Name</th>
              <th>Email</th>
              <th>Job title</th>
              <th>Total Courses</th>
              <th style="width: 10%;">Rating</th>
              <th>Enroll number</th>
              <th>Action</th>
            </tr>
            <% instructors.forEach(item => { %>
              <tr>
                <td><%= item.id %></td>
                <td data-trigger="hover" data-toggle="popover" title="Full Description" data-content="<%= item.Instructor.full_description %>">
                  <div class="d-flex">
                    <div>
                      <img src="<%= item.avatar_url %>" width="70px" height="70px" class="rounded-circle">
                    </div>
                    <div class="ml-2"> 
                      <div class="course-name"><%= item.first_name %> <%= item.last_name %></div>
                      <div class="course-description"><%= item.Instructor.full_description %></div>
                    </div>
                  </div>
                </td>
                <td><%= item.email %></td>
                <td><%= item.Instructor.job_title %></td>
                <td><%= item.Instructor.course_number %></td>
                <td class="text-center">
                  <div>
                    <%= item.Instructor.rating %> 
                  </div>
                  <div>
                    (<%= item.Instructor.rating_number %> ratings)
                  </div>
                </td>
                <td>
                  <%= item.Instructor.enroll_number %>
                </td>
                <td>
                  <% if(item.is_active) { %>
                    <button data-user-id="<%= item.id %>" class="btn btn-disable btn-danger">Disable</button>
                  <% } else { %>
                    <button data-user-id="<%= item.id %>" class="btn btn-enable btn-primary">Enable</button>
                  <% } %>
                </td>
              </tr>
            <% }) %>
          </table>
        </div>
      </div>

      <div id="courseTable" class="container item-table">
        <div class="admin-title">
          List Courses
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <select class="form-select mb-2" id="filterInstructor">
              <option value="" selected>All instructors</option>
              <% instructors.forEach(item => { %>
                <option value="<%= item.first_name %> <%= item.last_name %>">
                  <%= item.first_name %> <%= item.last_name %>
                </option>
              <% }) %>
            </select>
            <select class="form-select ml-2 mb-2" id="filterCategory">
              <option value="" selected>All categories</option>
              <% rootCategories.forEach(rootCategory => { %>
                <% rootCategory.Categories.forEach(item => { %>
                  <option value="<%= item.category_name %>">
                    <%= item.category_name %>
                  </option>
                <% }) %>
              <% }) %>
            </select>

            <button class="btn btn-outline-dark ml-2 mb-2 p-1" id="filterCourse">Filter</button>
          </div>
          <div id="courseLength" class="count">
            Total: <%= courses.length %>
          </div>
        </div>
        <div class="table-views">
          <table>
            <tr>
              <th>ID</th>
              <th style="width: 50%;">Course name</th>
              <th>Category</th>
              <th>Instructor</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
            <% courses.forEach(item => { %>
              <tr class="course-table-item" data-category-name="<%= item.Category.category_name %>" data-instructor-name="<%= `${item.Instructor.User.first_name} ${item.Instructor.User.last_name}` %>">
                <td><%= item.id %></td>
                <td class="d-flex">
                  <div>
                    <img src="<%= item.img_path %>" height="80px">
                  </div>
                  <div class="ml-2">
                    <div class="course-name">
                      <%= item.course_name %>
                    </div>
                    <div class="course-description">
                      <%= item.short_description %>
                    </div>
                  </div>
                </td>
                <td><%= item.Category.category_name %></td>
                <td><%= `${item.Instructor.User.first_name} ${item.Instructor.User.last_name}` %></td>
                <td><%= item.price %> <%= item.concurrency%></td>
                <td>
                  <% if(item.is_active) { %>
                    <button data-course-id="<%= item.id %>" class="btn btn-disable-course btn-danger">Disable</button>
                  <% } else { %>
                    <button data-course-id="<%= item.id %>" class="btn btn-enable-course btn-primary">Enable</button>
                  <% } %>
                </td>
              </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="newInstructorModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
         New Instructor
        </div>
        <div class="modal-body">
          <div class="signup text-center">
            <form action="/authentication/signup" method="POST" id="signUpForm">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                <span id="messageEmail"></span>
              </div>
              <div class="form-group d-flex justify-content-between">
                <input type="text" class="form-control mr-2" name="first_name" placeholder="First name">
                <input type="text" class="form-control" name="last_name" placeholder="Last name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="job_title" placeholder="Job title">
              </div>
              <div class="form-group d-none">
                <input type="text" class="form-control" name="type" placeholder="Type" value="Instructor">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="re_password" id="re_password" placeholder="Confirm password">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="full_description" name="full_description" placeholder="Description" rows="3"></textarea>
              </div>
              <button type="button" id="btnSubmitForm" class="btn btn-primary w-50 rounded-pill">Create new instructor</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
  

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover()

      let dataList = $('[data-transform="tableTransform"]').map(function(){
        return $(this).data('target')
      }).get()

      $('[data-transform="tableTransform"]').click(function(){
        let target = $(this).data("target")
        dataList.forEach(async item => {
          if(item === target){
            $(item).show()
            await $('[data-transform="tableTransform"]').removeClass("active")
            $(`[data-target="${item}"]`).addClass("active")
          }
          else {
            $(item).hide()
          }
        })
      })

      $(".btn-disable").click(function() {
        let userId = $(this).data("user-id")
        $.post(`/admin/active/${userId}?isActive=false`, async function(data, status) {
          console.log(data.msg)
          if(data.msg === "ok") {
            await Swal.fire({
              icon: "success",
              title: "Disable success"
            })
            location.reload()
          }
        })
      })
      $(".btn-enable").click(function() {
        let userId = $(this).data("user-id")
        $.post(`/admin/active/${userId}?isActive=true`, async function(data, status) {
          console.log(data.msg)
          if(data.msg === "ok") {
            await Swal.fire({
              icon: "success",
              title: "Enable success"
            })
            location.reload()
          }
        })
      })

      $(".btn-disable-course").click(function() {
        let courseId = $(this).data("course-id")
        $.post(`/admin/activeCourse/${courseId}?isActive=false`, async function(data, status) {
          console.log(data.msg)
          if(data.msg === "ok") {
            await Swal.fire({
              icon: "success",
              title: "Disable success"
            })
            location.reload()
          }
        })
      })
      $(".btn-enable-course").click(function() {
        let courseId = $(this).data("course-id")
        $.post(`/admin/activeCourse/${courseId}?isActive=true`, async function(data, status) {
          console.log(data.msg)
          if(data.msg === "ok") {
            await Swal.fire({
              icon: "success",
              title: "Enable success"
            })
            location.reload()
          }
        })
      })

      var timer;
      $("#email").change(function(){
        clearTimeout(timer)
        timer = setTimeout(function(){
          let email = $("#email").val()
          $.ajax({
            url: "/user/checkemail",
            type: "POST",
            data: {
              email
            },
            success: function(data){
              if(data.msg === "Email existed"){
                $("#messageEmail").css("color", "red").html("Email Exist")
              } else if(data.msg === "Email is not valid"){
                $("#messageEmail").css("color", "red").html("Email is not valid")
              } else {
                $("#messageEmail").css("color", "green").html("Email valid")
              }
            }
          })
        }, 100)
      })

      $("#signUpForm").validate({
        onfocusout: false,
        onkeyup: false,
        onclick: false,
        rules: {
          "name": {
            required: true
          },
          "email":{
            required: true,
            email: true,
          },
          "first_name": {
            required: true
          },
          "last_name": {
            required: true
          },
          "job_title":{
            required: true
          },
          "password": {
            required: true,
            minlength: 8
          },
          "re_password": {
            equalTo: "#password",
            minlength: 8
          }
        }
      })

      $("#btnSubmitForm").click(function() {
        if($("#signUpForm").valid()) {
          let value = $("#signUpForm").serialize()
          $.ajax({
            url: "/authentication/signup",
            type: "POST",
            data: value,
            success: async function(data) {
              await Swal.fire({
                icon: "success",
                title: "Create account instructor success!"
              })
              location.reload()
            }
          })
        }
      })

      $("#filterCourse").click(function(){
        let name = $("#filterInstructor").val()
        let category = $("#filterCategory").val()
        let total;
        if(name === "" && category === "") {
          total = $(".course-table-item").length
          $(".course-table-item").show()
        } else if(name !== "" && category === "") {
          $(".course-table-item").hide()
          total = $(`[data-instructor-name="${name}"]`).length
          $(`[data-instructor-name="${name}"]`).show()
        } else if(name === "" && category !== "") {
          $(".course-table-item").hide()
          total = $(`[data-category-name="${category}"]`).length
          $(`[data-category-name="${category}"]`).show()
        } else {
          $(".course-table-item").hide()
          total = $(`[data-category-name="${category}"][data-instructor-name="${name}"]`).length
          $(`[data-category-name="${category}"][data-instructor-name="${name}"]`).show()
        }
        $("#courseLength").text(`Total: ${total}`)
      })

      $(document).on({
          ajaxStart: function(){
              $("body").addClass("loading"); 
          },
          ajaxStop: function(){ 
              $("body").removeClass("loading"); 
          }    
      });

    })
  </script>
</body>

</html>