<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous"
  />
  <title>
    Online Courses - Learn Anything On Your Schedule | MNP Courses
  </title>
  <link rel="shortcut icon" href="/assets/images/logo-images.svg" />
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

  <div class="main-container">
    <div class="side-bar">
      <div class="side-bar-logo container-fluid">
        Admin
      </div>
      <div class="main-side-bar mt-3">
        <div class="ml-2">
          Dashboard
        </div>
        <ul class="list-group">
          <li  data-transform="tableTransform" data-target="#studentTable" class="list-group-item active d-flex">
            <div class="icon">
              <i class="far fa-user"></i>
            </div>
            <div>
              List Students
            </div>
          </li>
          <li data-transform="tableTransform" data-target="#instructorTable" class="list-group-item d-flex">
            <div class="icon">
              <i class="fas fa-chalkboard-teacher"></i>
            </div>
            <div>
              List Instructors
            </div>
          </li>
          <li  data-transform="tableTransform"  data-target="#courseTable" class="list-group-item d-flex">
            <div class="icon">
              <i class="fas fa-book"></i>
            </div>
            <div>
              List Courses
            </div>
          </li>
        </ul>
        <div class="mt-5 text-center home">
          <a href="/">Back to home</a>
        </div>

      </div>
    </div>
    <div class="main-content">
      <div id="studentTable" class="container item-table">
        <div class="admin-title">
          List Students
        </div>

        <div class="d-flex justify-content-between">
          <div>
          </div>
          <div class="count">
            Total: <%= students.length %>
          </div>
        </div>
        <div class="table-views">
          <table>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Action</th>
            </tr>
            <% students.forEach(item => { %>
              <tr>
                <td><%= item.id %></td>
                <td><%= item.user_name %></td>
                <td><%= item.email %></td>
                <td><%= item.first_name %></td>
                <td><%= item.last_name %></td>
                <td>
                  <button class="btn btn-danger">Disable</button>
                </td>
              </tr>
            <% }) %>
          </table>
        </div>
      </div>

      <div id="instructorTable" class="container item-table">
        <div class="admin-title">
          List Instructor
        </div>

        <div class="d-flex justify-content-between">
          <div>
          </div>
          <div class="count">
            Total: <%= students.length %>
          </div>
        </div>
        <div class="table-views">
          <table>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Action</th>
            </tr>
            <% students.forEach(item => { %>
              <tr>
                <td><%= item.id %></td>
                <td><%= item.user_name %></td>
                <td><%= item.email %></td>
                <td><%= item.first_name %></td>
                <td><%= item.last_name %></td>
                <td>
                  <button class="btn btn-danger">Disable</button>
                </td>
              </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </div>
  

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function(){
      let dataList = $('[data-transform="tableTransform"]').map(function(){
        return $(this).data('target')
      }).get()

      $('[data-transform="tableTransform"]').click(function(){
        let target = $(this).data("target")
        dataList.forEach(async item => {
          if(item === target){
            $(item).show()
            await $('[data-transform="tableTransform"]').removeClass("active")
            $(`[data-target="${item}"]`).addClass("active")
          }
          else {
            $(item).hide()
          }
        })
      })
    })
  </script>
</body>
</html>