<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/course.css">
  <link rel="stylesheet" href="/css/index.css" />
  <title>
    Online Courses - Learn Anything On Your Schedule | MNP Courses
  </title>
  <link rel="shortcut icon" href="/assets/images/logo-images.svg" />
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container">
      <a href="/" class="navbar-branch">
        <img src="/assets/images/logo.svg" width="160px" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <form id="formSearch" class="ml-1">
          <span><i class="fas fa-search"></i></span>
          <input type="text" placeholder="Search..." class="rounded-pill" />
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/login">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdownCategory"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Categories</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownCategory">
              <% for(const category of categories) { %>
                <a class="dropdown-item" href="/category-courses/<%= category.id %>?page=1"><%= category.category_name %></a>
              <%} %>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="=/about">About</a>
          </li>
          <% if(typeof user !== 'undefined' ) { %>
            <li class="nav-item">
              <a class="nav-link" href="/cart">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/watchlist">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdownUser"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ><%= user.username %></a
              >
              <div class="dropdown-menu" aria-labelledby="dropdownUser">
                <a class="dropdown-item" href="/profile">My Profile</a>
                <a class="dropdown-item" href="/logout">Log out</a>
              </div>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">
                Login
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">
          <img src="/assets/images/logo-images.svg" width="30px">
        </a></li>
        <li class="breadcrumb-item">Category</li>
        <li class="breadcrumb-item"><a href="/category-courses/<%= payload.category_id %>"><%= payload.Category.category_name %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= payload.course_name %></li>
      </ol>
    </nav>
  </div>
  <hr>
  <div class="container course">
    <div class="course-profile">
      <div>
        <div class="course-header">
          <div class="course-title">
            <%= payload.course_name %>
          </div>
          <div class="course-detail">
            <%= payload.full_description %>
          </div>
          <div class="course-star mt-2">
            <%= payload.rating %>
            <% for(let j = 1; j <= Math.floor(payload.rating); j++) { %>
              <i class="fa fa-star"></i>
            <% } %>
            <% if(payload.rating - Math.floor(payload.rating) !== 0) { %>
              <i class="fa fa-star-half-alt"></i>
            <% } %>
            <% for(let j = Math.ceil(payload.rating); j < 5; j++) { %>
              <i class="far fa-star"></i>
            <% } %>
            <div class="course-number d-inline ml-2">
              (<%= payload.rating_number ? payload.rating_number : 0 %> ratings) <span class="ml-2"><%= payload.enroll_number ? payload.enroll_number : 0 %> students</span> 
            </div>
          </div>
    
          <div class="course-lectures mt-2">
            Create by: <span><%= payload.Instructor.User.first_name %> <%= payload.Instructor.User.last_name %></span>
          </div>
    
          <div class="course-update">
            <i class="fas fa-edit"></i> Last update: <%= payload.updated_at %>
          </div>
          <div class="course_language">
            <i class="fas fa-closed-captioning"></i> Language: <%= payload.course_language %>
          </div>
        </div>
        <div class="course-content">
          <div class="course-content-title">
            Course Content
          </div>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn  btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Chapter 1
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item">Course Introduction</li>
                    <li class="list-group-item">Course Curriculum Overview</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Chapter 2
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item">Lesson 3</li>
                    <li class="list-group-item">Lesson 4</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Chapter 3
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item">Lesson 5</li>
                    <li class="list-group-item">Lesson 6</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="relate-courses">
          <div class="course-content-title">
            Top Buy Courses Related "<%= payload.Category.category_name %>"
          </div>
          <div class="container-fluid">
            <% topBuyCourses.forEach((item) => { %>
              <a href="/courses/<%= item.id %>">
                <div class="row row-cols-4">
                  <div class="col-6 d-flex">
                    <div class="relate-course-img">
                      <img src="<%= item.img_path %>" width="70px" height="70px">
                    </div>
                    <div>
                      <div class="relate-course-title">
                        <%= item.course_name %>
                      </div>
                      <div class="relate-course-detail">
                        60.2 total hours. <span>Update <%= item.updated_at %></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 ralate-course-star">
                    <%= item.rating %> <i class="fa fa-star"></i>
                  </div>
                  <div class="col-2">
                    <i class="fas fa-user-friends"></i> <%= item.view_number %>
                  </div>
                  <div class="col-2">
                    <%= item.price %> <%= item.concurrency %>
                  </div>
                  
                </div>
                <hr>
              </a>
            <%}) %>
          </div>
        </div>
        <div class="instructor">
          <div class="course-content-title">
            Instructor
          </div>
          <div class="instructor-profile">
            <div class="instructor-name">
              <%= payload.Instructor.User.first_name %> <%= payload.Instructor.User.last_name %>
              <span class="d-block">
                <%= payload.Instructor.job_title %>
              </span>
            </div>
            <div class="instructor-avatar d-flex">
              <div class="instructor-img ">
                <img class="rounded-pill" src="<%= payload.Instructor.User.avatar_url %>" height="100px">
              </div>
              <div class="instructor-detail">
                <ul>
                  <li><i class="fa fa-star"></i> <%= payload.Instructor.rating %> Rating</li>
                  <li><i class="fas fa-user-friends"></i> <%= payload.Instructor.enroll_number %> Students</li>
                  <li><i class="fas fa-holly-berry"></i> <%= payload.Instructor.rating_number %> Reviews</li>
                  <li><i class="fa fa-play"></i> <%= payload.Instructor.course_number %> Courses</li>
                </ul>
              </div>
            </div>
            <div class="instructor-description">
              <%= payload.Instructor.full_description %>
            </div>
          </div>
        </div>
        <div class="student-feedback">
          <div class="course-content-title">
            Student feedback
          </div>
          <div class="course-rating">
            <div>
              <%= payload.rating %>
            </div>
            <div>
              <% for(let j = 1; j <= Math.floor(payload.Instructor.rating); j++) { %>
                <i class="fa fa-star"></i>
              <% } %>
              <% if(payload.Instructor.rating - Math.floor(payload.Instructor.rating) !== 0) { %>
                <i class="fa fa-star-half-alt"></i>
              <% } %>
              <% for(let j = Math.ceil(payload.Instructor.rating); j < 5; j++) { %>
                <i class="far fa-star"></i>
              <% } %>
            </div>
            <div>
              Course Rating
            </div>

          </div>
        </div>

        <div class="reviews">

        </div>

      </div>
      <div id="scrollDiv" class="course-commerce">
        <div class="course-commerce-img">
          <img src="<%= payload.img_path %>" width="100%">
          <div class="d-flex justify-content-center">
            <i class="far fa-play-circle"></i>
          </div>
        </div>
        <div>
          <div class="course-price">
            <%= payload.price %> <%= payload.concurrency %>
          </div>
          <div class="course-controls">
            <a href="#" class="btn btn-danger w-100">Add To Card</a>
            <a href="#" class="btn btn-outline-primary w-100">Buy</a>
            <div>
              30-Day Money-Back Guarantee
            </div>
          </div>
          <div class="course-include">
            <div>This course includes: </div>
            <ul>
              <li><i class="fas fa-film"></i> 22 hours on-demand video</li>
              <li><i class="fas fa-infinity"></i> Full lifetime access</li>
              <li><i class="fas fa-mobile-alt"></i> Access on mobile and TV</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <hr>
  <!-- Before footer -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 footer-text">Top companies choose <a href="#">MNP Courses</a> to build in-demand career skills.</div>
      <ul class="col-6 d-flex justify-content-between mb-0 logo">
        <li><img src="https://s.udemycdn.com/partner-logos/lyft-logo.svg" alt=""></li>
        <li><img src="https://s.udemycdn.com/partner-logos/adidas-logo.svg" alt=""></li>
        <li><img src="https://s.udemycdn.com/partner-logos/eventbrite-logo.svg" alt=""></li>
        <li><img src="https://s.udemycdn.com/partner-logos/surveymonkey-logo.svg" alt=""></li>
        <li><img src="https://s.udemycdn.com/partner-logos/booking-logo.svg" alt=""></li>
      </ul>
    </div>  
  </div>
  <hr>
  <div class="container-fluid footer">
    <div class="row">
      <ul class="col list-group">
        <li class="list-group"><a href="#">
          MNP for Business</a></li>
        <li class="list-group"><a href="#">
          Teach on Udemy</a></li>
        <li class="list-group"><a href="#">
          About us</a></li>
        <li class="list-group"><a href="#">
          Contact us</a></li>
      </ul>
      <ul class="col list-group">
        <li class="list-group"><a href="#">
          Careers</a></li>
        <li class="list-group"><a href="#">
          Blog</a></li>
        <li class="list-group"><a href="#">
          Help and Support</a></li>
        <li class="list-group"><a href="#">
          Affiliate</a></li>
      </ul>
      <ul class="col list-group">
        <li class="list-group"><a href="#">
          Terms</a></li>
        <li class="list-group"><a href="#">           
          Privacy policy and cookie policy</a></li>
        <li class="list-group"><a href="#">
          Sitemap</a></li>
        <li class="list-group"><a href="#">
          Featured courses</a></li>
      </ul>
    </div>
    <div class="row footer-logo d-flex justify-content-between">
      <div>
        <img src="/assets/images/logo-images.svg" width="50px">
      </div>
      <div class="mt-3">
        Copyright @ 2020 MNP, Inc
      </div>

    </div>
  </div>


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script>
  </script>

</body>
</html>