<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>
      Online Courses - Learn Anything On Your Schedule | MNP Courses
    </title>
    <link rel="shortcut icon" href="/assets/images/logo-images.svg" />
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container">
        <a href="/" class="navbar-branch">
          <img src="/assets/images/logo.svg" width="160px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <form id="formSearch" class="ml-1">
            <span><i class="fas fa-search"></i></span>
            <input type="text" placeholder="Search..." class="rounded-pill" />
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="dropdownCategory"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Categories</a
              >
              <div class="dropdown-menu" aria-labelledby="dropdownCategory">
                <% for(const category of categories) { %>
                  <a class="dropdown-item" href="/category-courses/<%= category.id %>?page=1"><%= category.category_name %></a>
                <%} %>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <% if(typeof user !== 'undefined' ) { %>
              <li class="nav-item">
                <a class="nav-link" href="/cart">
                  <i class="fas fa-shopping-cart"></i><span class="badge badge-danger"><%= user.cartCount %></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/watchlist">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="dropdownUser"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><%= user.username %></a
                >
                <div class="dropdown-menu" aria-labelledby="dropdownUser">
                  <a class="dropdown-item" href="/profile">My Profile</a>
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/login">
                  Login
                </a>
              </li>
            <% } %>
            
            
          </ul>
        </div>
      </div>
    </nav>

    <!-- Detail about Website -->
    <div class="introduce-website">
      <img src="/assets/images/Introduce Website.jpg" width="100%">
      <div>
        <h1>Get early access, now</h1>
        <span>Be first for our free learning course, and get courses from $9.99.</span>
      </div>
    </div>

    <!-- Hot Courses -->
    <div class="container mt-5 courses">
      <span>Top Highlight Courses</span>
      <div id="hightlight-courses-carousel" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li class="active" data-target="#hightlight-courses-carousel" data-slide-to="0" aria-current="location"></li>
          <li data-target="#hightlight-courses-carousel" data-slide-to="1"></li>
          <li data-target="#hightlight-courses-carousel" data-slide-to="2"></li>
          <li data-target="#hightlight-courses-carousel" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner">
          <% for(let i = 0; i < highLightCourses.length; i++) { %>
              <% if(i === 0) { %>
                <div class="carousel-item active">
                  <img class="d-block w-100" src="<%= highLightCourses[i].img_path %>" alt="">
                </div>
              <% } else { %>
                <div class="carousel-item">
                  <img class="d-block w-100" src="<%= highLightCourses[i].img_path %>" alt="">
                </div>
              <% } %>
          <% } %>
        </div>
      </div>
    </div>


    <!-- Courses -->
    <div class="courses-group container mt-5 mb-5">
      <div class="courses-group-title row">
        <span>Top Views Courses</span>
      </div>
      <div class="courses-row row row-cols-md-5 row-cols-sm-3 d-flex justify-content-between">
        <% for(let i = 0; i < topTenViewCourses.length; i++){ %>
          <div class="courses-item col mb-3">
            <a href="/courses/<%= topTenViewCourses[i].id %>">
              <div class="courses-item-img">
                <img src="<%= topTenViewCourses[i].img_path %>" alt="" width="100%">
                <div></div>
              </div>
              <div class="courses-item-title">
                <%= topTenViewCourses[i].course_name %>
              </div>
              <div class="courses-item-lectures">
                <%= topTenViewCourses[i].Instructor.User.first_name %> <%= topTenViewCourses[i].Instructor.User.last_name %>  
              </div>
              <div class="courses-item-star">
                <%= topTenViewCourses[i].rating %>
                <% for(let j = 1; j <= Math.floor(topTenViewCourses[i].rating); j++) { %>
                  <i class="fa fa-star"></i>
                <% } %>
                <% if(topTenViewCourses[i].rating - Math.floor(topTenViewCourses[i].rating) !== 0) { %>
                  <i class="fa fa-star-half-alt"></i>
                <% } %>
                <% for(let j = Math.ceil(topTenViewCourses[i].rating); j < 5; j++) { %>
                  <i class="far fa-star"></i>
                <% } %>
                 (<%= topTenViewCourses[i].view_number %>)
              </div>
              <div class="courses-item-price">
                <%= topTenViewCourses[i].price %> <%= topTenViewCourses[i].concurrency %> <span></span>
              </div>
              <% if(topTenViewCourses[i].view_number > 1000) { %>
                <div class="best-seller">
                  Bestseller
                </div>
            <% } %>
            </a> 
          </div>
          
        <% } %>
        %>
      </div>
    </div>

    <div class="courses-group container mt-5 mb-5">
      <div class="courses-group-title row">
        <span>Top New Courses</span>
      </div>
      <div class="courses-row row row-cols-md-5 row-cols-sm-3 d-flex justify-content-between">
        <% for(let i = 0; i < topNewCourses.length; i++){ %>
          <div class="courses-item col mb-3">
            <a href="/courses/<%= topNewCourses[i].id %>">
              <div class="courses-item-img">
                <img src="<%= topNewCourses[i].img_path %>" alt="" width="100%">
                <div></div>
              </div>
              <div class="courses-item-title">
                <%= topNewCourses[i].course_name %>
              </div>
              <div class="courses-item-lectures">
                <%= topNewCourses[i].Instructor.User.first_name %> <%= topNewCourses[i].Instructor.User.last_name %>
              </div>
              <div class="courses-item-star">
                <%= topNewCourses[i].rating %>
                <% for(let j = 1; j <= Math.floor(topNewCourses[i].rating); j++) { %>
                  <i class="fa fa-star"></i>
                <% } %>
                <% if(topNewCourses[i].rating - Math.floor(topNewCourses[i].rating) !== 0) { %>
                  <i class="fa fa-star-half-alt"></i>
                <% } %>
                <% for(let j = Math.ceil(topNewCourses[i].rating); j < 5; j++) { %>
                  <i class="far fa-star"></i>
                <% } %>
                 (<%= topNewCourses[i].view_number %>)
              </div>
              <div class="courses-item-price">
                <%= topNewCourses[i].price %><%= topNewCourses[i].concurrency %> <span></span>
              </div>
              <% if(topNewCourses[i].view_number > 1000) { %>
                  <div class="best-seller">
                    Bestseller
                  </div>
              <% } %>
            </a> 
          </div>
          
        <% } %>
        %>
      </div>
    </div>
    
    <hr>
    <!-- Before footer -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 footer-text">Top companies choose <a href="#">MNP Courses</a> to build in-demand career skills.</div>
        <ul class="col-6 d-flex justify-content-between mb-0 logo">
          <li><img src="https://s.udemycdn.com/partner-logos/lyft-logo.svg" alt=""></li>
          <li><img src="https://s.udemycdn.com/partner-logos/adidas-logo.svg" alt=""></li>
          <li><img src="https://s.udemycdn.com/partner-logos/eventbrite-logo.svg" alt=""></li>
          <li><img src="https://s.udemycdn.com/partner-logos/surveymonkey-logo.svg" alt=""></li>
          <li><img src="https://s.udemycdn.com/partner-logos/booking-logo.svg" alt=""></li>
        </ul>
      </div>  
    </div>
    <hr>
    <!-- Footer -->
    <div class="container-fluid footer">
      <div class="row">
        <ul class="col list-group">
          <li class="list-group"><a href="#">
            MNP for Business</a></li>
          <li class="list-group"><a href="#">
            Teach on Udemy</a></li>
          <li class="list-group"><a href="#">
            About us</a></li>
          <li class="list-group"><a href="#">
            Contact us</a></li>
        </ul>
        <ul class="col list-group">
          <li class="list-group"><a href="#">
            Careers</a></li>
          <li class="list-group"><a href="#">
            Blog</a></li>
          <li class="list-group"><a href="#">
            Help and Support</a></li>
          <li class="list-group"><a href="#">
            Affiliate</a></li>
        </ul>
        <ul class="col list-group">
          <li class="list-group"><a href="#">
            Terms</a></li>
          <li class="list-group"><a href="#">           
            Privacy policy and cookie policy</a></li>
          <li class="list-group"><a href="#">
            Sitemap</a></li>
          <li class="list-group"><a href="#">
            Featured courses</a></li>
        </ul>
      </div>
      <div class="row footer-logo d-flex justify-content-between">
        <div>
          <img src="/assets/images/logo-images.svg" width="50px">
        </div>
        <div class="mt-3">
          Copyright @ 2020 MNP, Inc
        </div>

      </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      
    </script>
  </body>
</html>
